@import "./../../styles/global-styles/variables";

.share {
  display: flex;

  @media screen and (max-width: $break_preheader) {
    display: none;
  }

  > *:not(:first-child) {
    margin-left: 4px;
  }

  &__svg {
    fill: white;
    margin-right: 5px;
  }
}
