//Default
$icomoon-facebook-12: "\e903";
$icomoon-facebook: "\e900";
$icomoon-twitter: "\e901";
$icomoon-sign-out: "\e902";


//Fight
$icon-alliance: "\e900";
$icon-horde: "\e901";




%im {
  /* use !important to prevent issues with browser extensions that change fonts */
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &--default {
    font-family: icomoon-fs-default !important;
  }

  &--battle {
    font-family: icomoon-fs-battle !important;
  }
}


